.row {
  display: flex;
  padding-top: 50px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 75%;
}

.basic-input {
  height: 50px;
  width: 350px;
  margin-top: 25px;
}

.active {
  color: #A74B4B;
}

.menu-item {
  cursor: pointer;
}

.user-info {
  font-size: 25px;
}

.tag-item {
  background-color: #A74B4B;
  color: white;
  width: 120px;
  align-items: center;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

.tag-text {
  font-size: 20px;
  display: inline;
}