.loading {
    margin: auto;
    padding: 10px;
}

.loading-text {
    color: #BE6A6A;
    font-size: 80px;
}

@media only screen and (max-width: 400px) {
    .loading {
        padding-top: 30px;
    }
    .loading-text {
        font-size: 60px;
    }
}