.interests-title {
  font-size: 25px;
}

.movie-item {
  background-color: #A74B4B;
  color: white;
  align-items: center;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  max-height: 50px;
}

.movie-text {
  font-size: 20px;
  display: inline;
}

.spotify-artist {
  font-size: 19px;
}