.col-2{
    justify-content: center;
    align-items: center;
}

.search-select{
    margin-left: 110px;
    margin-right: 110px;
}

.movie-input{
    margin-left: 110px;
    margin-right: 110px;
    background-color: #AC9494;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.hidden{
    visibility: hidden;
}

.add-interest-button{
    color: white;
    background-color: #7f5959;
    width: 180px;
    height: 50px; 
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}

.remove-movie{
    cursor: pointer;
}