.navbar {
    background: #58292F;
    color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navbar .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome-navbar{
    padding-left: 25px;
    font-size: 20px;
    float: left;
}

.stick-to-right {
    width: 100%;
    float: right;
    display: block;
    margin-left: 350px;
}